#PIP
#Paquetes completo requeridos para la asignatura Tratamiento de Senales Visuales (GITST-EPS-UAM) 
# (practicasTSV_env)
# Instalar ejecutando "pip install -r requirements.txt"
argon2-cffi
argon2-cffi-bindings
astroid
async-generator
attrs
backcall
bleach
certifi
cffi
colorama
comm
cycler
dataclasses
decorator
defusedxml
entrypoints
imageio
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
isort
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab_widgets
kiwisolver
lazy-object-proxy
MarkupSafe
matplotlib
mccabe
mistune
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
numpy
opencv-python
packaging
pandocfilters
parso
pickleshare
Pillow
prometheus-client
prompt-toolkit
pycparser
Pygments
pylint
pyparsing
pyrsistent
python-dateutil
PyWavelets
pyzmq
qtconsole
QtPy
scikit-image
scikit-learn
scipy
Send2Trash
six
terminado
testpath
threadpoolctl
tifffile
toml
tornado
traitlets
typed-ast
typing_extensions
wcwidth
webencodings
widgetsnbextension
wrapt
zipp
